In [10]:
import pandas as pd
import numpy as np
import json

In [11]:
df = pd.DataFrame({'From_To':['LoNDon_paris','MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis','Brussels_londOn'],
                   'FlightNumber':[10045,np.nan,10065,np.nan,10085],
                   'RecentDelays':[[23,47],[],[24,43,87],[13],[67,32]],
                   'Airline':['KLM(!)','<Air France> (12)','(British Airways.)','12. Air France',"Swiss Air"]})

In [12]:
df

            From_To  FlightNumber  RecentDelays             Airline
0      LoNDon_paris       10045.0      [23, 47]              KLM(!)
1      MAdrid_miLAN           NaN            []   <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways.)
3    Budapest_PaRis           NaN          [13]      12. Air France
4   Brussels_londOn       10085.0      [67, 32]           Swiss Air

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df = pd.DataFrame({'From_To':['LoNDon_paris','MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis','Brussels_londOn'],
                   'FlightNumber':[10045,np.nan,10065,np.nan,10085],
                   'RecentDelays':[[23,47],[],[24,43,87],[13],[67,32]],
                   'Airline':['KLM(!)','<Air France> (12)','(British Airways.)','12. Air France',"Swiss Air"]})

s={}
a=df.keys()
for i in a:
    if i == 'From_To':
        b=[]
        c=[]
        for j in range(len(df[i])):
            d=df[i][j]
            e=d.split("_")
            b.append(e[0].capitalize())
            c.append(e[1].capitalize())
            s['From'] = b
            s['To'] = c
    if i == 'FlightNumber':
        b=[]
        for j in range(len(df[i])):
            if df[i].notnull()[j] == False:
                df.loc[j,i] = df[i][j-1] + 10
            b.append(int(df[i][j]))
        s[i] = b
    if i == 'RecentDelays':
        b=[]
        e=[]
        f=[]
        g=[]
        c=max(len(l) for l in df[i])
        for j in range(len(df[i])):
            l=len(df[i][j])
            if (l < c):
                d=df[i][j]
                for k in range((c-l)):
                    d.append(np.nan)
                b.append(d)
            elif (l == c):
                b.append(df[i][j])
        for k in range(len(b)):
            for m in range(k+1):
                e.append(b[m][0])
                s['delay1'] = e
                f.append(b[m][1])
                s['delay2'] = f
                g.append(b[m][2])
                s['delay3'] = g
            e=[]
            f=[]
            g=[]
      
        
    if i == 'Airline':
        b=[]
        for j in range(len(df[i])):
            b.append(df[i][j])
        s[i] = b

newdf = pd.DataFrame(s)
newdf

,From,To,FlightNumber,delay1,delay2,delay3,Airline
0,London,Paris,10045,23.0,47.0,NaN,KLM(!)
1,Madrid,Milan,10055,NaN,NaN,NaN,<Air France> (12)
2,London,Stockholm,10065,24.0,43.0,87.0,(British Airways.)
3,Budapest,Paris,10075,13.0,NaN,NaN,12. Air France
4,Brussels,London,10085,67.0,32.0,NaN,Swiss Air